.platform{
    width:60%;
    height: 500px;
    text-align:center;
    background: rgba(0, 136, 82, 0.36);
    border-radius:3px;
    margin-top: 10px;
    padding: 5px;
    float: left;

    /*/box-shadow: #000000 1px 1px 10px;*/

    transition:box-shadow 1s, width 1s, height 1s;
}
.member{
    height:500px; width: 60%;
    background-color: #ff5100;
    float: left;

    margin-top: 10px; margin-left: 10px;

}
/*.platform:hover{
    width: 300px;
    height: 400px;
    box-shadow: orangered 1px 1px 10px;
}*/
.header{
    padding: 1em;
    color: orangered;
    clear: left;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    height: 50px;
    box-shadow: #660001 1px 1px 5px;
    background-color: #ffffff;

}
a{
    text-decoration: none;
    width: 100%;
    height: 50px;
}


/*##################################################*/
/*##################################################*/
.leftPane{
    float: left;
    width: 200px;
    height: 500px;
    border-radius:3px;
    padding: 10px;
    align-items: center;
    background-color: #ffffff;
    /*box-shadow: #000000 1px 1px 1px;*/
    margin: 10px;

}
/*##################################################*/
.leftPaneItem{
    height: 30px;
    /*padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 15px;*/
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    text-decoration: none;

    text-align: center;
    border-radius: 0;
    box-shadow: #b41800 0px 0px 0px;
    transition: box-shadow .25s, border-radius .125s;
    border: 0;

    font-size: 14px;
    font-weight: bold;
}
.leftPaneItem:hover{
    box-shadow: #ff5100 5px 5px 8px;
    border-radius: 5px;
}
/*##################################################*/
/*##################################################*/
.button{
    border-radius: 80px;
    height: 60px;
    width: 60px;
    border: 0px;
    background-color: white;

    transition: background-color .25s;

}
.button:hover{
    -webkit-text-fill-color: #ffffff;
    background-color: #003c0f;

}